.zigzagBg {
  background-color: #a7ff75;
  margin: 5px;
  border-radius: 10px;
  padding: 10px;
}

.zigzagTx {
  color: #3b5b28;
}

.result {
  display: none;
}

body {
  color: white;
  text-shadow: -1px 1px 1px black;
  background-color: #3b5b28;
}
